@import "./variables";
@import "../../common/mixins";

.layout-container {
  min-width: 1024px;
  height: 100%;
}

.header-container {
  @include flex-row(flex-start, center);
  height: $header-height;
  color: $header-color;
  background-color: $header-bg-color;

  .header-logo {
    @include flex-row(center, center);
    width: $sidebar-open-width;
    height: 100%;

    img {
      height: 40px;
    }
  }

  .header-navbar {
    @include flex-row(flex-end, center);
    flex: auto;
    height: 100%;
  }
}

.sidebar-container {
  background-color: $sidebar-bg-color;
  width: $sidebar-open-width;

  &.is-collapse {
    width: $sidebar-close-width;
  }
}

.main-container {
  display: block;
  flex: auto;
  overflow: auto;
  box-sizing: border-box;
  padding: 20px;
  background-color: $main-bg-color;
}


