@import "~@/styles/common/variables.scss";

/* layout */
$layout-bg-color: #F2F2F2;

/* sidebar */
$sidebar-open-width: 260px;
$sidebar-close-width: 80px;
$sidebar-bg-color: #30373d;
$sidebar-bg-gradient: linear-gradient(to bottom right, #30373D, #3E3E3D);

/* menu */
$menu-color: #BFCBD9;
$menu-active-color: #FFF;
$menu-active-bg-color: #5E5E5E;
$menu-active-border-color: $--color-primary;
$menu-bg-color: transparent;
$menu-bg-color-hover: #4A4B4D;
$menu-height: 50px;
$submenu-height: 40px;

/* logo */
$logo-height: 40px;
$logo-bg-color: #4E5051;

/* header */
$header-height: 60px;
$header-padding: 30px;

/* main */
$lr-padding: 15px;
$tb-padding: 20px;

:export {
  menuColor: $menu-color;
  menuActiveColor: $menu-active-color;
  menuBgColor: $menu-bg-color;
}
