/* Element 变量 */
$--color-primary: #447DF7;
$--color-success: #87CB16;
$--color-warning: #FFA534;
$--color-danger: #FB404B;

// fit2cloud-ui的variables加载了element-ui的变量
@import "~fit2cloud-ui/src/styles/common/variables";

:export {
  theme: $--color-primary;
}

